body{
    margin: 0;
    padding: 0;
}

#container{
    background-image: url(media/pink.jpg);
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
}

#watercolor_banana{
    mix-blend-mode: color-burn;
    background-image: url(media/Banana-PNG.png);
    background-size: 100px 100px;
    position: absolute;
    width: 300px;
    height: 100px;
    opacity: .9;
}

#watercolor_coconut{
    mix-blend-mode: color-burn;
    background-image: url(media/coconut.png);
    background-size: 100px 100px;
    position: absolute;
    width: 300px;
    height: 100px;
    bottom: 0;
    right: 0;
    opacity: .9;
}

/* #yellow{
    mix-blend-mode: difference;
    background-image: url(media/yellow_bg.jpg);
    background-size: 100px 100px;
    position: absolute;
    width: 100%;
    height: 100px;
    top: 42%;
} */

#yellow{
    mix-blend-mode: color;
    background-image: url(media/yellow_bg.jpg);
    position: absolute;
    top: 10%;
    width: 100%;
    height: 100px;
}

#two{
    mix-blend-mode: multiply;
    background-image: url(media/light_purple.jpg);
    position: absolute;
    top: 19%;
    width: 100%;
    height: 100px;
    opacity: 0.8;
}

video{
    mix-blend-mode: multiply;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    z-index: -10;
}

audio {
    z-index: 10;
    mix-blend-mode: lighten;
    position: absolute;
    bottom: 0;
    left: 40%;
    padding-bottom: 20px;
}

#topLeaf{
    width:50%;
    position: fixed;
    top: -3%;
    right: 0;
    z-index: 10;
    mix-blend-mode: color-burn;
}

#topLeftLeaf{
    width:40%;
    position: fixed;
    top: -3%;
    left: 0px;
    z-index: 10;
    mix-blend-mode: color-burn;
    opacity: 0.8;
}

#middleLeaf{
    width:70%;
    position: fixed;
    bottom: -20%;
    left: 15%;
    z-index: 10;
    mix-blend-mode: color-burn;
}

#bottomLeaf{
    width: 50%;
    position: fixed;
    bottom: -5%;
    left: 0px;
    z-index: 0;
    mix-blend-mode: color-burn;
}